/*--CSS reset--*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

img{
    max-width: 100%;
    height: auto;
}

*,*::before,*::after{
    box-sizing: border-box;
}


/*--header--*/
.container_menu_bar{
    top: 0px;
    left: 0px;
    min-height: 80px;
    background: #AA0601;
}

.container_menu_inner{
    margin: 0 auto;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 24px;
    padding-left: 16%;
    padding-right: 16%;
}

.logo{
    max-width: 80px;
    padding-top: 12px;
}

.menu_list{
    width: 500px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.menu_list_link{
    text-align: left;
    font: normal 20px 'Noto Sans TC' ;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-decoration: none; 
}

@media (max-width: 1200px){
    .container_menu_inner{
        padding-left: 36px;
        padding-right: 36px;
    }

    
}

/*
@media (max-width:767px){
    
    .container_menu_bar{
        height: 176px;
    }

    .container_menu_inner{
        flex-direction: column;
        align-items: start;

    }

    .menu_list{
        width: 767px;
        flex-wrap: wrap;
        justify-content:center;
        
    }

    .menu_list_link{
        display: block;
        min-width: 188px;
        height: 48px;
        background-color: #AA0601; 
        border:1px solid white ;

        font: normal 16px 'Noto Sans TC' ;
        line-height: 41px;
        text-align: center;
    }
    
}
*/



/*-- main --*/
/*banner*/
.banner{
    height: 787px;
    background-size:cover;
    background-position:center center;
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header.png?raw=true);
}

.banner_detail{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 16%;
    padding-top: 296px;
    padding-bottom: 296px;
}

.banner_detail p{
    font: normal 36px 'Noto Sans TC' ;
    color: #650300;
    text-align: right;
}

.banner_detail h1{
    font: bold 64px 'Noto Sans TC' ;
    color: #650300;
    text-align: right;
}

.banner a{
    display: block;
    margin-top: 4px;
    width: 104px;
    height: 41px;
    background-color: #AA0601; 

    font: normal 20px 'Noto Sans TC' ;
    color: #FFFFFF;
    text-decoration: none;
    line-height: 41px;
    text-align: center;
}

@media (max-width: 1200px){
    .banner{
        background-position:center;
        background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header-sm.png?raw=true) ;
    }

    .banner_detail{
        padding-right: 36px;
    }
}

@media (max-width:767px){
    .banner{
        background-repeat: no-repeat;
        height: 396px;
    }

    .banner_detail{
        padding-right: 4%;
        padding-top: 144px;
        padding-bottom: 144px;
    }

    .banner_detail p{
        font: normal 16px 'Noto Sans TC' ;
    }

    .banner_detail h1{
        font: bold 24px 'Noto Sans TC' ;
    }
}


/*intro*/

.intro{
    background-color: #FBF2F2;
    background-size:cover;
    z-index: -1;
}

h2{
    font: bold 48px 'Noto Sans TC' ;
    color: #650300;
    text-align: center;
    line-height: 72px;
    padding-top: 80px;
    padding-bottom: 48px;
}

@media (max-width:767px)
{
    h2{
        font: bold 24px 'Noto Sans TC' ;
        line-height: 36px;
        padding-top: 40px;
        padding-bottom: 24px;
    }
}


.intro ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 80px;
    
}

.intro_item{
    max-width: 306px;
    display: flex;

    flex-direction: column;
    align-items: center;
}


.intro_item img{
    text-align: center;
    width: 100px;
    height: 100px;
    margin-bottom: 16px;
}

.intro_item h3{
    text-align: center;
    font: bold 24px 'Noto Sans TC' ;
    color: #650300;
    margin-bottom: 8px;

}

.intro_item p{
    font: normal 16px 'Noto Sans TC' ;
    text-align: left;
    
}

@media (max-width:1200px){
    .intro ul{
        padding-bottom: 32px;
    }
   
    .intro_item{
        max-width: 336px;
    }

    .intro_item p{
        margin-bottom: 48px;
    }
}

@media (max-width:767px){
    .intro_item{
        max-width: 348px;
    }

    .intro_item p{
        margin-bottom: 32px;
    }
}

/*classic_product*/

 .classic_product ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 80px;
}
 
.classic_product_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 24px;
    margin-bottom: 24px;
}

.classic_product_item img{
    margin-bottom: 8px;
    max-width: 416px;
    min-width: 208px;
}

.classic_product_item a{
    text-decoration: none;
    text-align: center;
}

.classic_product_item p{
    text-align: center;
    font: Italic 48px 'Roboto' ;
    font-weight: 700;
    color: #AA0601;
    
}

@media (max-width:1200px){
    .classic_product_item img{
        max-width: 336px;
    }

    .classic_product ul{
        flex-direction: column;
    }
}

@media (max-width:767px){

    .classic_product ul{
        padding-left: 14px;
        padding-right: 14px;
        
    }

    .classic_product_item{
    margin: 0 auto;
    padding-bottom: 24px;
    }
   

}


/*designer_product*/

.designer_product{
    min-height: 608px;
    background-size:cover;
    background-position:center center;
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg.png?raw=true);
    z-index: -1;
}

.designer_product h2{
    color: #fff;
}

.designer_product ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 80px;
}

.designer_product_1-L,
.designer_product_2-L {
    display:block;
    max-width: 648px;
}

.designer_product_1-sm,
.designer_product_2-sm{
    display: none;
}

.designer_product_item a{
    text-decoration: none;
    text-align: center;
}

.designer_product_item p{
    display: block;
    max-width: 648px;
    background-color: #fff; 
    height: 88px;
    
    text-align: center;
    font: Italic 48px 'Roboto' ;
    font-weight: 700;
    color: #AA0601;
    line-height: 88px;
    margin-bottom: 24px;
}

@media (max-width:1200px){

    .designer_product{
        background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg-sm.png?raw=true);
    }

    .designer_product_1-L,
    .designer_product_2-L {
        max-width: 696px;
    }

    .designer_product_item p{
        max-width: 696px;
    }

}

@media (max-width:767px){

    .designer_product_1-L,
    .designer_product_2-L {
        display: none;
    }

    .designer_product_1-sm,
    .designer_product_2-sm{
        display: block;
        max-width: 348px;
    }
}

/*guest_recommend*/
.guest_recommend ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    margin-bottom: 80px;
    gap:24px
}

.guest_recommend_item{
    background: #ffffff 0% 0% no-repeat padding-box;
    max-width: 306px;
    height: 511px;
    box-shadow: 0px 2px 6px #00000029;
    border: 1px solid #DEE2E6;
    border-radius: 4px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
 

.guest_name{
    font: normal 16px 'Noto Sans TC' ;
    color: #000;
    line-height: 24px;
    padding-top: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
}

.guest_comment{
    font: normal 16px 'Noto Sans TC' ;
    color: #000;
    line-height: 24px;
    padding-left: 16px;
    padding-right: 16px;
}

.guest_date{
    font: normal 14px 'Noto Sans TC' ;
    color: #707070;
    line-height: 21px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 16px;
}

@media(max-width:1200px){
    .guest_recommend_item{
        max-width: 336px;
    }
}



/*contact_us*/
.contact_us{
    background-color: #FBF2F2;
    background-size:cover;
    z-index: -1;
   margin: 0 auto;
   padding-bottom: 90px;
}

.contact_us p{
    max-width: 636px;
    min-width: 348px;
    margin: 0 auto;

    font: normal 20px 'Noto Sans TC';
    line-height: 30px;
    margin-bottom: 24px;

}

.contact_form {
    max-width: 636px;
    min-width: 348px;

    font: normal 16px 'Noto Sans TC';
    line-height: 24px;
   padding-bottom: 48px;
    margin: 0 auto;
    
    
}


input[type="text"],
input[type="submit"],
textarea[type="text"]{
    display:block;
    margin-bottom: 16px;
    background-color: #FBF2F2;
}


input {
    outline-style: none ;
    border: 1px solid #000;
    padding: 6px;
    width: 100%;
    margin-top: 8px;
}

textarea {
    outline-style: none ;
    border: 1px solid #000;
    padding: 6px;
    width: 100%;
    height: 136px;
    margin-top: 8px;
}

input[type="checkbox"] {
    display: none;
}
input[type="checkbox"]+span {
    display: inline-block;
    padding-left: 26px;
    line-height: 20px;
    background: url(https://i.imgur.com/bZM5Itd.png) no-repeat left top;
    user-select: none;
}

input[type="checkbox"]:checked+span {
    background: url(https://i.imgur.com/JWm4WKA.png) no-repeat left top;
}

input[type="submit"]{
    max-width: 416px;
    
    height: 56px;
    border: 0px;
    background-color: #AA0601;
    font: normal 20px 'Noto Sans TC' ;
    color: #FFFFFF;
    text-decoration: none;
    line-height: 41px;
    text-align: center;
    
    margin: 0 auto;
    
}



@media(max-width:1200px){
    input[type="submit"]{
    
        font: normal 16px 'Noto Sans TC' ;
        line-height: 24px;
    }

    .contact_us p{
        font: normal 16px 'Noto Sans TC' ;
    }



}

@media(max-width:640px){

    .contact_form,
    .contact_us p {
        padding-left: 14px;
        padding-right: 14px;
        padding-bottom: 24px;
    }


    input[type="submit"]{
        max-width: 348px;
        
    }

    }


/*--footer--*/

footer{
    min-height: 353px;
    background-color: #AA0601;
}

.footer_container{
    padding-left: 16%;
    padding-right: 16%;
    margin: 0 auto;
}

@media (max-width: 1200px){
    .footer_container{
        padding-left: 36px;
        padding-right: 36px;
    }
}

@media (max-width: 767px){
    .footer_container{
        padding-left: 14px;
        padding-right: 14px;
    }
}

/*footer_top*/
.footer_top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
}

.footer_list{
    width: 464px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.footer_list_link{
    text-align: left;
    font: normal 16px 'Noto Sans TC' ;
    color: #FFFFFF;
    text-decoration: none;
}

.footer_social_media_link{
    text-decoration: none;
}

.footer_social_media_link img{
    max-width: 48px;
}

.footer_social_media{
    width: 208px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}

@media (max-width: 1200px){
    .footer_social_media_link img{
        max-width: 40px;
    }
    
    .footer_social_media{
        width: 144px;
    }
}

@media (max-width: 767px){
    .footer_social_media_link img{
        max-width: 24px;
    }

    .footer_list{
        display: none;
    }

    .footer_social_media{
        width: 88px;
    }

    .footer_top{
        padding-top: 24px;
        justify-content: flex-end;
    }
}


/*footer_middle*/
.footer_middle{
    margin-bottom: 32px;
}

.footer_contact_item{
    display: flex;
    justify-content: start;
    font: normal 36px 'Noto Sans TC' ;
    color: #fff;
    line-height: 54px;
    margin-bottom: 8px;
}

.footer_contact_item span{
    margin-right: 16px;
}

.material-symbols-outlined{
    font-size: 48px;
}

@media (max-width: 767px){
    .footer_contact_item{
        font: normal 16px 'Noto Sans TC' ;
    }

    .material-symbols-outlined{
        font-size: 24px;
    }
}


/*footer_bottom*/

.footer_bottom{
    border-top: 1px solid #fff;
}

.legal{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    padding-bottom: 32px;
    font: normal 16px 'Roboto'
}

.footer_bottom p{
    font: normal 16px 'Noto Sans TC' ;
    color: #FFFFFF;
}

.footer_bottom ul{
    width: 174px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.legal_detail{
    font: normal 16px 'Noto Sans TC' ;
    color: #FFFFFF;
    text-decoration: none;
    line-height: 24px;
}

@media (max-width: 767px){

    .footer_bottom ul{
        width: 80px;
    }
    
    .legal{
        flex-wrap: wrap;
        margin-top: 16px;
        flex-direction: column;
        justify-content: space-around;
    }
}